.Auth{
  min-width:100vh;
  min-height:100vh;
  background:linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
  display:flex;
  align-items:center;
  justify-content:center;
}
.Auth__formContainer{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
  padding:48px 56px;
  gap:32px;
  width:528px;
  height:466px;
  background:#FFFFFF;
  border-radius:16px;
}
.Auth__form{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin:0 auto;
}
.Auth__formItem{
  background:#F9F9FA;
  border-radius:4px;
  height:56px;
  width:416px;
  border:none;
  padding:19px 12px;
  color:#363636;
}
.Auth__formItem:first-child{
  margin-bottom:36px;
}
.Auth__title{
  font-weight:700;
  font-size:24px;
  line-height:30px;
  margin:0 auto;
}
.Auth__formForgot{
  width:392px;
  margin-top:20px;
  font-weight:500;
  font-size:12px;
  line-height:16px;
  letter-spacing:0.2px;
  color:#A7A7A7;
}
.Auth__formButton{
  border:none;
  width:350px;
  height:52px;
  text-transform:uppercase;
  color:#FFFFFF;
  font-weight:600;
  font-size:16px;
  line-height:150%;
  text-align:center;
  background:linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
  border-radius:30px;
  cursor:pointer;
  margin-bottom:62px;
}
