.Auth
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow:0 0 0 30px #F9F9FA inset !important;
  box-shadow:0 0 0 30px #F9F9FA inset !important;
}
.Auth{
  min-width:100vh;
  min-height:100vh;
  background:linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  gap:59px;
}
.Auth__mainTitle{
  font-weight:700;
  font-size:32px;
  line-height:40px;
  color:#FFFFFF;
}
.Auth__formContainer,
.Auth__errorContainer,
.Auth__successContainer{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
  padding:48px 56px;
  gap:32px;
  width:528px;
  height:466px;
  background:#FFFFFF;
  border-radius:16px;
}
.Auth__form{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin:0 auto;
}
.Auth__formItem{
  background:#F9F9FA;
  border-radius:4px 4px 0px 0px;
  height:56px;
  width:416px;
  border:none;
  padding:19px 12px;
  color:#363636;
  border-bottom:1px solid #BFC4C9;

}
.Auth__ItemWrapper{
  position:relative;
  height:56px;
}
.Auth__formItemImage{
  all:unset;
  position:absolute;
  right:10px;
  top:18px;
}
.Auth__formItem:first-child{
  margin-bottom:36px;
}
.Auth__title{
  font-weight:700;
  font-size:24px;
  line-height:30px;
}
.Auth__formForgot{
  width:392px;
  margin-top:20px;
  margin-bottom:32px;
  font-weight:500;
  font-size:12px;
  line-height:16px;
  letter-spacing:0.2px;
  color:#A7A7A7;
}
.Auth__formButton{
  border:none;
  width:416px;
  height:52px;
  text-transform:uppercase;
  color:#FFFFFF;
  font-weight:600;
  font-size:16px;
  line-height:150%;
  text-align:center;
  background:linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
  border-radius:30px;
  cursor:pointer;

}
.Auth__registrationContainer{
  display:flex;
  width:100%;
  gap:16px;
  margin-top:-16px;
  align-items:center;
}
.Auth__registrationP{
  font-size:16px;
  line-height:24px;
  text-align:center;
  letter-spacing:0.1px;
  color:#727272;
}
.Auth__registrationLink{
  font-weight:600;
  font-size:12px;
  line-height:18px;
  letter-spacing:0.2px;
  text-transform:uppercase;

}
.Auth__errorContainer,
.Auth__successContainer{
  height:266px;
  align-items:center;
}
.Auth__successContainer{
  height:206px;
}
.Auth__formForgot_restore{

  margin-top:0;
}
.Auth__formItem_restore:first-child{
  margin-bottom:0;
}
.Auth__toAuthLink{
  display:flex;
  gap:12px;
}
.Auth__toAuthLink
span {
  font-weight:600;
  font-size:12px;
  line-height:18px;
  align-items:center;
  text-align:center;
  letter-spacing:0.2px;
  text-transform:uppercase;
  color:#727272;
}
.Auth__toAuthLinkContainer{
  width:100%;
  padding:20px 0px 20px 16px;
  background:#F9F9FA;
  height:64px;
  border-radius:16px 16px 0px 0px;
}
.Auth__formContainer_restore{
  justify-content:flex-start;
  padding:0;
  height:422px;
}
.Auth__formItemWrapper{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100%;
  padding:0px 0px 48px;
  gap:32px;
}
.Auth__formItemWrapper
h2{
  display:block;
  width:100%;
  padding-left:56px;
}
.Auth__formContainer_restore
.Auth__registrationContainer
{
  margin:0;
  margin-top:16px;
}
.Auth__formButton_restore{
  margin-top:60px;
}
.Auth__formForgot_restoreTip{
  width:357px;
  letter-spacing:0.1px;
  height:30px;
  margin:0;
}
.Auth__formContainer_restore{
  padding:0;
  height:470px;
}
.Auth__formItemWrapper_restore{
  padding:0;
}
.Auth__registrationLink{
  display:flex;
  gap:12px;
}
@media screen and (max-width:600px) {
  .Auth{
    padding:0 20px;
    min-width:auto;
  }
  .Auth__formItemWrapper
  h2{
    padding-left:20px;
  }
  .Auth__formItemWrapper{
    padding-left:0 ;
  }
  .Auth__formContainer{
    width:100%;
    align-items:center;
    padding:24px 16px;
  }
  .Auth__errorContainer{
    margin-top:125px;
  }
  .Auth__registrationContainer{
    justify-content:center;
  }
  .Auth__registrationContainer img{
    display:block;
  }
  .Auth__formItem{
    width:256px;
  }
  .Auth__formButton{
    width:256px;
  }
  .Auth__formForgot{
    width:256px;
  }
  .Auth__registrationLink{
    display:flex;
    gap:12px;
  }
  .Auth__formItemWrapper_restore{
    height:480px;
  }
  .Auth__successContainer{
    margin-top:125px;
    width:288px;
    height:186px;
    padding:0 16px;
    padding-top:42px;
    padding-bottom:32px;
    gap:24px;
  }
  .Auth__successContainer
  .Auth__registrationP{
    letter-spacing:-0.3px;
  }
  .Auth__successContainer h2{
    width:100%;
    margin:0 auto;
    font-size:18px;
    text-align:center;
  }
  .Auth__errorContainer{
    padding:34px 16px 32px;
    gap:24px;
    width:288px;
    height:230px;
  }
  .Auth__errorContainer h2{
    width:256px;
    font-size:18px;
    line-height:28px;
    text-align:center;
  }
  .Auth__errorContainer
  .Auth__formButton{
    height:40px;
  }

  @media screen and (max-width:400px) {
    .Auth__formContainer{
      width:100%;
      padding:0;
    }
    .Auth{
      gap:12px;
      padding:20px 12px;
      justify-content:flex-start;
    }
    .Auth__mainTitle{
      font-size:18px;
      line-height:28px;
    }
    .Auth__title{
      width:250px;
      font-size:28px;
      line-height:30px;
    }
    .Auth__registrationContainer{
      width:256px;
      flex-direction:column;
      align-items:flex-start;
      gap:8px;
    }
    .Auth__formButton{
      width:256px;
    }
  }
}
.Auth__inputWrapper{
  position:relative;
}
.Auth__inputwrapper input {
  font-size:12px;
}
.Auth__placeholder {
  position:absolute;
  pointer-events:none;
  left:12px;
  top:20px;
  transition:0.1s ease all;
}
input:valid ~ .Auth__placeholder{
  top:1px;
  font-size:11px;
}
